@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f1b21;
}
.board {
  display: grid;
  
  margin: auto;
}
.boxes {
  margin: 7px;
  border-radius: 10px;
  background: #223b48;
  width: 150px !important;
  height: 150px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxes img {
  padding: 10px;
}
.player-1{
  margin-top: -9.5rem;
}
.player-2{
  margin-top: -9.5rem;
}

@media (max-width: 900px) {
  .boxes{
    width: 120px !important;
    height: 120px !important;
  }
  
}
@media (max-width: 670px) {
  .boxes{
    width: 82px !important;
    height: 82px !important;
  }
  
}
@media (max-width:475px) {
 .player_1{
    margin-top: -24rem;
  }
  .player_2{
    margin-top: 3rem;
  }
}
@media (max-width:400px) {
  .player-1{
    margin-top: -3.5rem;
  }
  .player-2{
    margin-top: -3.5rem;
  }

  .player_1{
    margin-top: -16rem;
  }
  .player_2{
    margin-top: 8.5rem;
  }
}